<h1>How It Works</h1>

<div class="card-deck">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Personal Loan Requirements </h5>
      <p class="card-text">      Eligibility Criteria</p>
      <p class="card-text">     Amount: $600 - $100,000</p>
      <p class="card-text">      18 Years of Age*    </p>
      <p class="card-text"> Checking Account* </p>
      <p class="card-text"> Online Banking*</p>
      <p class="card-text"> Voided Check†</p>
      <p class="card-text"> Recent Paystub†</p>
      <p class="card-text"> Driver’s License (or valid ID)†</p>
      <p class="card-text"> Proof of Self Employment† (if applicable)†</p>
      <p class="card-text"> Minimum Loan Amount May Vary By State</p>

      <a href="#" class="btn btn-primary" [routerLink]="['/ploan']">
        Apply
      </a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Personal Loan Requirements </h5>
      <p class="card-text">      Eligibility Criteria</p>
      <p class="card-text">    Amount: $3,500 - $250,000</p>
      <p class="card-text">      21 Years of Age*    </p>
      <p class="card-text"> Checking Account* </p>
      <p class="card-text"> Online Banking*</p>
      <p class="card-text"> Company Name</p>
      <p class="card-text"> Authorization to obtain credit*†</p>
      <p class="card-text">Driver’s License (or valid ID)†</p>
      <p class="card-text"> Business EIN*†</p>
      <a href="#" class="btn btn-primary" [routerLink]="['/bloan']">
        Apply
      </a>
    </div>
  </div>
</div>
<hr />
<div class="card">
  <div class="card-body">
    * Required for Online Application † All other documents may be requested by a loan agent after the online application is completed for loan approval & verification.
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h1>Find the right option for you.</h1>
    With our fast loan processing, you can get your loan in your account in as little as 3-4 hours! You can get from $600 - $100K today.
  </div>
</div>

